<!doctype html>
<html>
  <head>
    <title><%= title %> | Chicky chicky nug nug</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <h1>Chicky chicky nug nug yo.</h1>
    <form action='cnug/order' method="POST">
      Name: <input name="name" type="text" placeholder="Name">
      Style:
      <select name="style">
        <option value="BBQ">BBQ</option>
        <option value="HoneyMustard">Honey Mustard</option>
        <option value="Ketchup">Ketchup</option>
        <option value="Ranch">Ranch</option>
      </select>
      Qty: <input name="qty" type='number' min='1'>
      <input type='submit' value="Nugget me">
    </form>
  </body>
</html>
