<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1> My Site Title is <%= title %></h1>
    <h2><%= welcome %></h2>
    <h3>These Are Awesome Things...</h3>
    <ul>
      <% awesomeThings.forEach(function(thing){
        <li></li>
      })%>

      <% %>
    </ul>
  </body>
</html>
